
#threadTitleText:hover {
    color:green;
    cursor: pointer;
}

.commentdetails {
    font-size:12px;
    text-align:center;
    border-bottom: 0.2vh solid gray;
    display: flexbox;
    margin: 0 auto;
    margin-bottom: 1.5vh;
    width: 10rem
}

#threadTitleText {
    font-size: 2vh;
}

#threadTitle {
    height: 5vh;
}

#threadTitle:hover {
    color:green;
    cursor: pointer;
}

#emojiBTN:hover {
    background-color: rgb(223, 116, 255);
    border: 0.15rem solid rgb(84, 84, 255);
}

#threadWrapper:first-of-type {
    border: 0.05rem solid black;
    cursor: pointer;
    background-color: rgb(247, 254, 255);
    border-radius: 0.5vh;
    margin-top: 5vh;
}

#threadWrapper {
    border: 0.05rem solid black;
    cursor: pointer;
    background-color: rgb(247, 254, 255);
    border-radius: 0.5vh;
    margin-top: 2vh;
}

#threadWrapper:hover {
    background-color: rgb(140, 200, 255);
}