#NavBar {
    width: 100%;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: inline-flex;
}

#leftNav {
    height: 85%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}


#rightNav {
    text-align: right;
    width: 100%;
    height: 85%;
    margin-top: auto;
    margin-bottom: auto;
}

#buttonText {
    font-size: 2.5vh;
    text-align: center;
    margin-top: 0.5vh;
    margin-bottom: auto;
    transition: 0.25s;
}

#navButtonOn {
    border-top: 0px;
    border-bottom: 0.25vh solid black;
    border-radius: 1vh;
    border-left: 0px;
    border-right: 0px;
    height: 6vh;
    margin-top: auto;
    transition: 0.5s;
    padding-left: 1vw;
    padding-right: 1vw;
}

#navButtonOff {
    border-top: 0px;
    border-bottom: 0.25vh solid gray;
    border-radius: 1vh;
    border-left: 0px;
    border-right: 0px;
    height: 6vh;
    margin-top: auto;
    transition: 0.5s;
    color: gray;
    cursor: not-allowed;
    padding-left: 1vw;
    padding-right: 1vw;
}

#navButtonOn:hover {
    height: 5.5vh;
    background-color: rgb(41,98,255);
}

#navButtonOff:hover {
    background-color: rgb(255, 255, 255);
}

#navButtonOn:hover > #buttonText {
    font-size: 2.5vh;
    text-align: center;
    margin-top: -0.5vh;
    margin-bottom: auto;
}

#travelerIcon {
    font-size: 4.5vh;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 800;
    text-decoration: none;
    color: rgb(41,98,255);
    transition: 0.5s;
}

#travelerIcon:hover {
    color: rgb(180, 0, 0);
    font-style: oblique 8deg;
}