#For_All_Location {
    display: grid;
}

.Location_Boxes {
    border: 2px solid black;
    padding: 0px;
}

.Location_Click {
    height: 100%;
    width: 100%;
}

#forumButton{
    background-color: deepskyblue;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}