#masterDiv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#For_All_Location {
    display: grid;
}

.Location_Click {
    height: 100%;
    width: 100%;
}

#forumButton a{
    text-decoration: none;
}

#forumButton{
    background-color: deepskyblue;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}


#dropdown-item-homepage {
    width: 13.5vw;
    border-radius: 1vw;
    border: 1px grey solid;
}

#dropdown-item-homepage:hover {
    color: black;
    border-radius: 1vw;
    border: 1px rgb(39, 39, 39) solid;
    background-color: rgb(233, 233, 233);
}