*{
    scrollbar-width: thin;
}

#messageWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#leftMessageWrapper {
    width: 25rem;
    height: 38rem;
    margin-left: auto;
    margin-right: 1rem
}

#userList {
    height: 33rem;
    max-height: 33rem;
    overflow-y: auto;
    margin-top: 0vh;
}

#userListWrapper {
    cursor: pointer;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    border-radius: 0.2rem;
}

#userListWrapper:hover {
    color: blue !important;
}

#messagesList {
    height: 33rem;
    max-height: 33rem;
    overflow-y: auto;
    width: 100%;
    margin-top: 1rem;
}

#rightMessageWrapper {
    width: 49rem;
    height: 38rem;
    margin-right: auto;
    margin-left: 1rem;
}

#messageInput {
    margin-left: 2rem;
    margin-bottom: 5rem;
}

#messageInput input {
    width: 40rem;
    height: 2rem;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

#messageInput Button {
    width: 5rem;
    height: 2rem;
    margin-top: -0.3rem;
    font-size: 0.8rem;
}

#dmFrom {
    font-size: 1rem;
    color: blue;
    padding: 0.2rem;
    display: flex;
    justify-content: left;
}

#dmTo {
    font-size: 1rem;
    color: green;
    padding: 0.2rem;
    display: flex;
    justify-content: right;
}

#userLogoFrom {
    border: 2px solid blue;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    margin-right: 0.5vw;
    margin-top: 0vh;
    background-color: blue;
    color: white;
    text-decoration: none;
    min-width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userLogoTo {
    border: 2px solid green;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    margin-left: 0.5vw;
    margin-top: 0vh;
    background-color: green;
    color: white;
    text-decoration: none;
    min-width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageTextFrom {
    font-size: 1.25rem;
    border: 2px solid gray;
    border-bottom-left-radius: 0vh;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    max-width: 40rem;
    overflow-wrap: anywhere;
}

#messageTextTo {
    font-size: 1.25rem;
    border: 2px solid gray;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    max-width: 40rem;
    text-overflow: "";
    white-space: wrap;
    overflow-wrap: anywhere;
}

#userText {
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

#peek {
    color: grey;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -2vh;
}

#icon {
    padding: 0.10rem 0.35rem 0.10rem 0.35rem;
    border-radius: 2vh;
}

#icon:hover {
    color: red;
    background: rgb(255, 222, 222);
}