#lists {
    display: flex;
    text-align: left;
}

#nameText {
    text-align: left;
    padding-left: 0.4rem;
    border: 0.1rem white solid;
    font-size: 0.3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-bottom: 0rem;
    cursor: pointer;
    display: flex;
    height: 3.2rem;
    width: 21rem;
    justify-content: space-between;
}

#nameText > h1 {
    font-size: 1.25rem;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 13.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#nameTextSelected {
    text-align: left;
    padding-left: 0.4rem;
    border: 0.1rem white solid;
    font-size: 0.3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-bottom: 0rem;
    cursor: pointer;
    display: flex;
    height: 3.2rem;
    width: 21rem;
    justify-content: space-between;
    background-color: blue;
    color: white;
}

#nameTextSelected > h1 {
    font-size: 1.25rem;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 13.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#nameDivSelected {
    display: flex;
}


#dataText {
    text-decoration: none;
    display: block;
    color: black;
    font-weight: 500;
    padding-bottom: 0.5rem;
    width: 100%;
}

#dataText:hover {
    color: rgb(41,98,255);
}

#dataTextInside {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: -1.5rem;
    margin-top: 0rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    text-align: right;
    padding-right: 1rem;
}

#nameText:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(85, 130, 255);
}

#optButtonDiv {
    margin-bottom: 2rem;
    text-align: right;
    width: 20rem;
    margin-left: auto;
    display: flex;
    margin-right: 1rem;
}

#delListBTN {
    background-color: rgb(255, 198, 198);
    color: black;
    border-bottom: 0.1rem solid black;
    border-left: 0px;
    border-right: 0px;
    height: 2.5rem;
    width: 6rem;
    font-size: 0.75rem;
    margin-left: auto;
}

#delListBTN:hover {
    background-color: red;
    color: white;
}

#addLocalBTN {
    background-color: rgb(255, 255, 255);
    color: black;
    border-top: 0px;
    border-bottom: 0.1rem solid black;
    border-left: 0px;
    border-right: 0px;
    height: 2.5rem;
    width: 8rem;
    font-size: 0.85rem;
}

#dropLocationItem {
    background-color: white;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding-left: 0.5rem;
}

#dropLocationItemText {
    font-size: 1rem;
}

#dropLocationItem:hover {
    background-color: rgb(41,98,255);
    color: white;
    width: 100%;
}

#dropLocationItem:focus {
    background-color: black;
}

#delLocationBTN {
    background-color: rgb(255, 198, 198);
    color: black;
    height: 2.5rem;
    width: 7rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

#delLocationBTN > h1 {
    font-size: 0.75rem;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}

#delLocationBTN:hover {
    background-color: red;
    color: white;
}

#dataTextDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#myListWrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

#topListWrapper {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    border-bottom: 0.08rem solid black;
    padding-bottom: 0.5rem;
}

#bottomListWrapper {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

#bottomLeftListWrapper {
    width: 22rem;
    height: 30rem;
    border-bottom: 0.05rem solid black;
}

#bottomLeftListNameWrapper {
    width: 22rem;
    height: 30rem;
    overflow-y: auto;
}

#bottomRightListWrapper {
    width: 50rem;
    height: 30rem;
}

#descriptionDiv {
    border-bottom: 0.1rem solid black;
    padding-bottom: 0.3rem;
    font-size: 1rem;
    padding-left: 0.3rem;
}

#descriptionDiv textarea {
    font-size: 0.8rem;
    width: 40rem;
    height: 2rem;
}

#shareBTN {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
    background-color: rgb(151, 151, 151);
    height: 2rem;
    width: 4rem;
    font-size: 0.8rem;
}

#shareBTN:hover {
    background-color: rgb(51, 51, 51)
}


#listDataWrapper {
    height: 26rem;
    overflow-y: scroll;
}

#nameInput {
    font-size: 0.8rem;
}

.red {
    border: 0.1rem solid red;
}

.normal {
    transition-duration: 1s;
    border: 0.1rem solid black;
}

#addLocalBTNOff {
    background-color: rgb(255, 255, 255);
    color: black;
    border-top: 0px;
    border-bottom: 0.1rem solid black;
    border-left: 0px;
    border-right: 0px;
    height: 2.5rem;
    width: 8rem;
    font-size: 0.85rem;
    color: gray;
    border-color: gray;
}

#addLocalBTNOff:hover {
    cursor: not-allowed;
}