#lists {
    display: flex;
    text-align: left;
}

#leftList {
    border: 1px black solid;
    width: 40%;
    height: 70vh;
    text-align: left;
    margin-left: auto;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

#listOptions {
    position: static;
    display: inline-flex;
    text-align: right;
    margin-left: 21vw;
}

#nameText {
    text-align: left;
    padding-left: 2vw;
    border: 1px white solid;
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: -0.25vh;
    cursor: pointer;
    width: 100%;
    display: flex;
    height: 7vh;
    justify-content: space-between;
}

#nameTextSelected {
    text-align: left;
    padding-left: 2vw;
    border: 1px white solid;
    font-size: 3vh;
    background-color: rgb(41,98,255);
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: -0.25vh;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nameDivSelected {
    display: flex;
}


#dataText {
    text-decoration: none;
    font-size: 3vh;
    display: block;
    color: black;
    font-weight: 600;
    padding-bottom: 1vh;
    width: 100%;
}

#dataText:hover {
    color: rgb(41,98,255);
}

#dataTextInside {
    width: 100%;
    height: 4vh;
    font-size: 3.5vh;
    text-align: left;
    margin-bottom: -1.5vh;
    margin-top: 0.5vh;
    padding-bottom: 6vh;
    padding-top: 1vh;
    padding-left: 2vw;
    text-align: right;
    padding-right: 2vw;
}

#nameText:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(85, 130, 255);
}

#optButtonDiv {
    margin-bottom: 3vh;
    text-align: right;
    width: 64%;
    margin-left: auto;
    display: flex;
    margin-right: 1vw;
}

#delListBTN {
    background-color: rgb(255, 198, 198);
    color: black;
    border-top: 0px;
    border-bottom: 0.3vh solid black;
    border-left: 0px;
    border-right: 0px;
    height: 6vh;
    width: 8vw;
    font-size: 2vh;
    margin-left: auto;
}

#delListBTN:hover {
    background-color: red;
    color: white;
}

#addLocalBTN {
    background-color: rgb(255, 255, 255);
    color: black;
    border-top: 0px;
    border-bottom: 0.3vh solid black;
    border-left: 0px;
    border-right: 0px;
    height: 6vh;
    width: 10vw;
    font-size: 2vh;
}

#dropLocationItem {
    background-color: white;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding-left: 1vw;
}

#dropLocationItemText {
    font-size: 2.5vh;
}

#dropLocationItem:hover {
    background-color: rgb(41,98,255);
    color: white;
    width: 100%;
}

#dropLocationItem:focus {
    background-color: black;
}

#delLocationBTN {
    background-color: rgb(255, 198, 198);
    color: black;
    height: 6vh;
    width: 8vw;
    font-size: 1.5vh;
    margin-left: 2.5vh;
    margin-top: 1vh;
    text-overflow: ellipsis;
    overflow: hidden;
}

#delLocationBTN:hover {
    background-color: red;
    color: white;
}

#dataTextDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#myListWrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
}

#topListWrapper {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    border-bottom: 0.25vh solid black;
    padding-bottom: 2vh;
}

#bottomListWrapper {
    margin-top: 1vh;
    display: flex;
}

#bottomLeftListWrapper {
    width: 30%;
    height: 60vh;
    border-bottom: 0.05rem solid black;
}

#bottomLeftListNameWrapper {
    width: 100%;
    height: 60vh;
    overflow-y: auto;
}

#bottomRightListWrapper {
    width: 70%;
}

#descriptionDiv {
    border-bottom: 0.25vh solid black;
    padding-bottom: 1vh;
    font-size: 3vh;
    padding-left: 1.5vw;
}

#descriptionDiv textarea {
    font-size: 2vh;
    width: 85%;
    height: 7vh;
}

#shareBTN {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
    background-color: rgb(160, 160, 160);
    height: 4vh;
    width: 5vw;
    font-size: 1.5vh;
}

#shareBTN:hover {
    background-color: rgb(77, 77, 77)
}


#listDataWrapper {
    height: 53vh;
    overflow-y: scroll;
}

#nameInput {
    font-size: 2vh;
}

.red {
    border: 0.25vh solid red;
}

.normal {
    transition-duration: 1s;
    border: 0.25vh solid black;
}

#addLocalBTNOff {
    background-color: rgb(255, 255, 255);
    color: black;
    border-top: 0px;
    border-bottom: 0.3vh solid black;
    border-left: 0px;
    border-right: 0px;
    height: 6vh;
    width: 10vw;
    font-size: 2vh;
    color: gray;
    border-color: gray;
}

#addLocalBTNOff:hover {
    cursor: not-allowed;
}