#locationBox {
    border: 1px rgb(224, 224, 224) solid;
    height: 100%;
    display: inline-flex;
}

#dropdown-item {
    color: black;
    border-radius: 0.25vh;
    border: 1px rgb(223, 223, 223) solid;
    width: 12vw;
}

#dropdown-item:hover {
    color: rgb(0, 76, 190);
    border: 1px rgb(216, 216, 216) solid;
    background-color: rgb(233, 233, 233);
}

#dropdown-basic-button {
    width: 12vw;
}