#LocationsButton {
  width: 20%;
  height: 20vh;
  text-align: center;
  display: block;
  object-position: center;
  position: absolute;
}

#finalDisplay {
  margin-top: 1vh;
  display: flex;
}

#actualLocations {
  text-decoration: none;
  font-size: small;
  color: rgb(27, 25, 25);
  width: 100%;
}

#favoriteClicked {
  text-align: center;
  padding-left: 2vw;
  border: 1px white solid;
  font-size: 3vh;
  background-color: rgb(5, 22, 68);
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: -0.25vh;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}