.userprofile {
  text-align: center;
}

h1, h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

form, label, input {
  text-align: center;
}
